body {
background-image: url("img/homebg.png");
background-repeat: repeat-y, repeat-x;
background-position: top; 
}

.logo {
padding: 2rem;
}

.container {
width:;
}

.content {
background-image: linear-gradient(#02b4c8, #d48af0, #1f973d);
padding: 1rem;
display: block;
margin-left: auto;
margin-right: auto;
height: 1500px;
}

.content img {
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
padding: 1rem;
}

.contentleft {
float: left;
width:  50%;
}

.contentright {
float: right;
width:  50%;
}

.contentright form{
padding: 1rem;
}

h1 {
font-family: futura, sans-serif;
font-size: 2rem;
color: #6A329F;
background-color: #ebc23a;
padding:.5rem;
}

p {
font-family: times, serif;
font-size: 2rem;
color: #e1d6eb;
background-color: #6A329F;
padding: 1rem;
}

p a{
}

p a:visited{
color: #fff;
}